
body {
 
  background-color: lightgray;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
 
  padding: 10px;
  background-color: black;
  color: white;
  text-align: right;
}

h2 {
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: white 5px solid;
}

p {
  margin-left: 20%;
  margin-right: 20%;
}

p.fecha {
  border-top: black 3px solid;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
}

time {
  padding: 5px;
  background-color: gray;
  color: white;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 5px;
}

strong {
  font-variant: small-caps;
}

q {
  border-bottom: red 1px dashed;
  font-family: serif;
  font-size: 150%;
}

